/*
 *  Własne style dla strony - szablon ADMIN
 */

section.admin { padding: 1em; min-height: calc(100vh - 500px); }
section.admin div.container { text-align: center; }
section.admin div.AdminGroupName { color: #ccc; font-size: small; }
section.admin div.AdminGroupElements { display: inline-block; }
section.admin div.AdminGroupElements table { width: 100%; max-width: 1200px; padding: 1em; }
section.admin div.AdminGroupElements table td.AdminGroupElement { width: 140px; vertical-align: top; }
section.admin div.AdminGroupElements table td.AdminGroupElement p { font-size: smaller; }

div.options-links { text-align: right; padding: 2em; }
div.options-links span.options-item { text-align: center; margin: 1em; font-size: small; }
div.options-links span.options-item img { margin: 0 5px; }

section.admin div.container table.table { width: 100%; font-size: small; }
section.admin div.container table.table tr.HeaderRow {}
section.admin div.container table.table tr.HeaderRow th.TitleCell { padding: 1em 0; border-bottom: 1px solid #ccc; }
section.admin div.container table.table td.DataCell { padding: 1em 0; font-size: small; }
section.admin div.container table.table td.ActionCell img { padding: 1em; }
section.admin div.container table.table td.PaginatorCell { border-top: 1px solid #ccc; padding: 1em; }
section.admin div.container table.table td.PaginatorCell div.counters { font-size: small; }
section.admin div.container table.table td.PaginatorCell div.pages ul.pagination { display: inline-block; padding: 0; }
section.admin div.container table.table td.PaginatorCell div.pages ul.pagination li.page-item { display: inline; margin: 2px 1px; padding: 2px 20px; border: 1px solid #999; border-radius: 5px; font-size: larger; }
section.admin div.container table.table td.PaginatorCell div.pages ul.pagination li.page-item.active { background-color: #fed; }
section.admin div.container table.table td.PaginatorCell div.pages ul.pagination li.page-item.disabled { background-color: #eee; }
section.admin div.container table.table td.PaginatorCell div.band { display: inline-block; }
section.admin div.container table.table td.PaginatorCell div.skip { display: inline-block; }

table td img.ListImage { width: 100px; height: auto; }

table span.gallery_item { margin: 1em; }
table span.gallery_item img { max-width: 200px; max-height: 200px; padding: 1px; border: 1px solid #ccc; }